name: CI

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  # We currently build megalodon using path.crates.io dependency and it generate dead code warnings.
  RUSTFLAGS: "-D warnings -A dead_code"

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev pkg-config
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Build
        run: cargo build
      - name: Clippy
        run: cargo clippy --all-targets --all-features --tests --benches -- -Dclippy::all -Dclippy::pedantic
      - name: Format Check
        run: cargo fmt --all -- --check
